@import "tailwindcss";

@layer base {
  html {
    line-height: initial;
    color: black;
    background-color: #f7f7f7;
  }
  @media (prefers-color-scheme: dark) {
    html {
      color: white;
      background-color: #18191a;
    }
  }
}

main article img {
  margin: auto;
}
