@import "tailwindcss";

@layer base {
  html {
    line-height: initial;
    color: black;
    background-color: #f7f7f7;
  }

  @media (prefers-color-scheme: dark) {
    html {
      color: white;
      background-color: #18191a;
    }
  }

  [x-cloak] {
    display: none !important;
  }

  main article {
    h1:not(:first-child), p:not(:first-child), blockquote:not(:first-child) {
      margin-top: 1rem;
    }

    blockquote {
      padding-left: 1rem;
      border-left: thick solid lightgrey;
      font-style: italic;
    }

    a {
      color: #36c;

      &:hover {
        text-decoration: underline;
      }
    }

    img {
      margin: auto;
    }
  }
}
