<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />{% if page.keywords %}
<meta name="keywords" content="{{page.keywords}}" />{% endif %}{% if page.copyright %}
<meta name="copyright" content="{{page.copyright}}" />{% endif %}
{%- seo -%}
{% feed_meta %}
<link rel="alternate" href="https://link0ff.github.io{{page.url}}" />
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="stylesheet" href="/files/tailwind.css" />{% for style in page.styles %}
<link rel="stylesheet" href="{{ style | relative_url }}" />{% endfor %}
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.14.9/cdn.min.js" integrity="sha512-KSdieUYxSxr/laB3Bh5TP8GAng49b2qRfdcnFvh8OuPpPgksA189OQ9v1A3gIz5P9s3A4aXMe5uiHLMfla60Uw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.4/htmx.min.js" integrity="sha512-2kIcAizYXhIn8TzUvqzEDZNuDZ+aW7yE/+f1HJHXFjQcGNfv1kqzJSTBRBSlOgp6B/KZsz1K0a3ZTqP9dnxioQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
