main article {
  h1:not(:first-child) {
    margin-top: 1rem;
  }

  p:not(:first-child) {
    margin-top: 1rem;
  }

  li p {
    margin-top: 0 !important;
  }

  a {
    &:hover {
      text-decoration-line: underline;
    }
  }
}
